{% extends "main_layout.html" %}
{% block content %}
<div class="panel-header bg-primary-gradient">
  <div class="page-inner py-5">
      <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
          <div>
              <h2 class="text-white pb-2 fw-bold">Dashboard</h2>
              <h5 class="text-white op-7 mb-2">Selamat datang</h5>
          </div>
      </div>
  </div>
</div>

<div class="card">
  <!-- <div class="card-header">
    <div class="form-group">
      <div class="card-title">Form Elements</div>
    </div>
  </div> -->
  <div class="card-body">
    <div class="row">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <div class="row">
      <!-- <div class="col-md-6 col-lg-4"> -->
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="file_essay">Upload file jawaban essay (format: .csv)</label>
          <input type="file" name="file" class="form-control-file" id="file_essay" accept=".csv" required>
        </div>
        <div class="form-group">
          <label for="defaultSelect">Kuis ke-</label>
          <input type="hidden" name="kuis_ke" value="">
          <select name="id_kuis" class="form-control" id="defaultSelect">
            {% for k in kuis: %}
                <option value='{{ k["id_kuis"] }}'>{{ k["kuis_ke"]}} - {{ k["nama_matkul"] }} ({{ k["pengampu"] }})</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group form-inline">
          <label for="inlineinput">Nama Kolom Jawaban Essay</label>
          <!-- <button type="button" class="btn btn-icon btn-round btn-primary btn-xs" style="margin-left:5px">
            <i class="fa fa-info"></i>
          </button> -->
          <div class="col-md-10 p-0">
            <textarea type="text" name="kolom_jawaban_essay" class="form-control input-full" id="inlineinput" required></textarea>
          </div>
          <small id="emailHelp2" class="form-text text-muted">Pisahkan nama kolom dengan spasi</small>
        </div>
        <div class="form-group form-inline">
          <label for="inputname">Nama Kolom Identitas</label>
          <div class="col-md-10 p-0">
            <textarea type="text" name="kolom_identitas" class="form-control input-full" id="inputname" placeholder="misal: nim nama" required></textarea>
          </div>
          <small id="emailHelp3" class="form-text text-muted">Pisahkan nama kolom dengan spasi</small>
        </div>
      <!-- </div> -->
    </div>
  </div>
  <div class="card-action">
    <button class="btn btn-success">Submit</button>
  </div>
</div>
{% endblock %}