{% extends "main_layout.html" %}
{% block content %}
<div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Soal - Kuis ke {{ header["kuis_ke"] }}</h2>
                <table>
                    <tr>
                        <td><h4 class="text-white op-8">Mata Kuliah</h4></td>
                        <td><h4 class="text-white op-8">:</h4></td>
                        <td><h4 class="text-white"><b>{{ header["nama_matkul"]}}</b></h4></td>
                    </tr>
                    <tr>
                        <td><h4 class="text-white op-8">Dosen</h4></td>
                        <td><h4 class="text-white op-8">:</h4></td>
                        <td><h4 class="text-white"><b>{{ header["nama"]}}</b></h4></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#tambahModal">Tambah data</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="multi-filter-select" class="display table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Soal</th>
                            <th>Jawaban Kunci</th>
                            <th>Bobot Nilai</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>Soal</th>
                            <th>Jawaban Kunci</th>
                            <th>Bobot Nilai</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for result in data_soal: %}
                            
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ result["soal"] }}</td>
                                <td>{{ result["jawaban_kunci"] }}</td>
                                <td>{{ result["bobot_nilai"] }}</td>
                                <td>
                                    <button type="button" class="btn btn-xs btn-round btn-primary" data-toggle="modal" data-target="#editModal{{ result['id_soal'] }}"> 
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-xs btn-round btn-danger" data-toggle="modal" data-target="#deleteModal{{ result['id_soal'] }}"> 
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal Tambah -->
<div class="modal fade" data-backdrop="static" id="tambahModal" tabindex="-1" role="dialog" aria-labelledby="tambahModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editModalLabel">Buat Soal</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="{{ url_for('create_soal') }}" method="post">
                    <div class="form-group">
                        <input type="hidden" name="id_kuis" value="{{ id_kuis }}">
                        <label for="soal">Soal</label>
		                <textarea class="form-control" id="soal" rows="3" name="soal" placeholder="Masukkan soal" required></textarea> <br>
                        <label for="jawaban">Jawaban Kunci</label>
		                <textarea class="form-control" id="jawaban" rows="3" name="jawaban_kunci" placeholder="Masukkan jawaban" required></textarea><br>
                        <label for="bobot_nilai">Bobot Nilai</label>
		                <input type="text" class="form-control" id="bobot_nilai" name="bobot_nilai" placeholder="Minimal:1" required>
                    </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" style="background: #dfdfdf; color: #181818" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Simpan</button>
            </form>
			</div>
		</div>
	</div>
</div>
<!-- End Modal Tambah -->
 
<!-- Modal Edit -->
{% for result in data_soal: %}
<div class="modal fade" data-backdrop="static" id="editModal{{ result['id_soal'] }}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editModalLabel">Edit Soal</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="{{ url_for('update_soal') }}" method="post">
                    <div class="form-group">
                        <input type="hidden" name="id_kuis" value="{{ result['id_kuis'] }}">
                        <input type="hidden" name="id_soal" value="{{ result['id_soal'] }}">
                        <label for="soal">Soal</label>
                        <textarea class="form-control" id="soal" rows="3" name="soal" placeholder="Masukkan soal" required>{{ result["soal"] }}</textarea> <br>
                        <label for="jawaban">Jawaban Kunci</label>
                        <textarea class="form-control" id="jawaban" rows="3" name="jawaban_kunci" placeholder="Masukkan jawaban" required>{{ result["jawaban_kunci"] }}</textarea><br>
                        <label for="bobot_nilai">Bobot Nilai</label>
                        <input type="text" class="form-control" id="bobot_nilai" name="bobot_nilai" placeholder="Minimal:1" value="{{ result['bobot_nilai'] }}" required>
                    </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" style="background: #dfdfdf; color: #181818" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Simpan</button>
            </form>
			</div>
		</div>
	</div>
</div>
{% endfor %}
<!-- End Modal Edit -->

<!-- Modal Delete -->
{% for result in data_soal: %}
<div class="modal fade" data-backdrop="static" id="deleteModal{{result['id_soal']}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Hapus Soal</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
                <p>Anda yakin ingin menghapus soal berikut:</p>
                <p>"{{ result['soal'] }}"</p>
                <p>Lanjut hapus?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" style="background: #dfdfdf; color: #181818" data-dismiss="modal">Tutup</button>
                <form action="{{url_for('delete_soal')}}" method="post">
                    <input type="hidden" name="id_kuis" value="{{ result['id_kuis'] }}">
                    <input type="hidden" name="id_soal" value="{{ result['id_soal'] }}">
                    <button type="submit" class="btn btn-danger">Hapus</button>
                </form>
			</div>
		</div>
	</div>
</div>

{% endfor %}
<!-- End Modal Delete -->
{% endblock %}